.d-flex{
    justify-content: center;
    align-items: center;
}
.login{
    margin-top: 150px;
    width: 430px;
    height: 230px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 1px black;
    h1{
        text-align: center;
    }
    input{
       width: 320px; 
       margin-left: 55px;
       margin-top: 5px;
       padding: 5px;
       outline: none !important;
       background-color: aliceblue;
       border: 1px solid black ;
       border: none;
    }

    p{
        margin-left: 80px;
        margin-top: 10px;
    }
    
    a{
        color: rgb(114, 150, 226);
        text-decoration: none;
        font-weight: bold;
    }
}
button{
    width: 320px;
    margin-left: 55px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(156, 156, 221);
    color: white;
    border: none;
}