.mul {
 margin-top: 70px;
    b{
      margin-left: 20px;
      
    }
    span{
   
     width: 500px;
      
    }
      img{
          width: 70px;
          height: 70px;
          border-radius: 100px;
          cursor: pointer;
      }
  }
  .mol{
     
     .btn{
      display: block;
      margin-left: 280px;
      margin-top: -40px;
     }
      img{
          width: 40px;
          height: 40px;
          border-radius: 100px;
      }
      li{
          list-style: none;
          margin-bottom: 20px;
      }
      b{
        margin-left: 25px;
      }
      button{
          margin-left: 100px;
      }
      .d{
          display: block;
          margin-left:290px;
          margin-top: -35px;
      }
      .i{
          display: block;
          margin-left: 290px;
          margin-top: -35px;
      }
  }
  
  button{
      background-color:white;
      padding: 3px;
      font-size: 17px;
      font-weight: bold;
      color:blue;
      border-radius: 10px;
      border: none;
  }